#Python
/__pycache__
auth.txt

# Sources
/Sources/cuckoo.pdf

# Nodejs Server
/nodejs-server_backup
/nodejs-server_backup/backend-data.js
/nodejs-server_backup/package-lock.json
/nodejs-server_backup/package.json

